*{
  padding: 0;
  margin: 0;
}

p{
  margin-bottom: 0 !important;
}

.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}